<div class="container">
  <div class="split employees-list">
    <h1>Employees</h1>
    <div
      class="employee-container"
      *ngFor="let emp of employees; index as i"
      [value]="em"
    >
      <div
        class="employee"
        (click)="onViewEmployee(i)"
        #employeeDiv
        id="employee"
      >
        <div class="employee-info">
          <h3 class="name">{{ emp.name }}</h3>
          <h5 class="position">{{ emp.position }}</h5>
        </div>
        <div class="icon">
          <i class="material-icons md-48" (click)="onDeleteEmployee(i)"
            >delete</i
          >
        </div>
      </div>
    </div>
  </div>
  <div class="split employee-form">
    <button class="btn add" (click)="addEmployee()">
      <i class="material-icons md-48">add</i>
      Add New
    </button>
    <form
      (ngSubmit)="onSaveEmployee(employeeForm.value)"
      #employeeForm="ngForm"
    >
      <h3>Personal Information</h3>
      <div class="form-group">
        <label for="name">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          ngModel
          name="name"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          required
          ngModel
          name="address"
          #address="ngModel"
        />
        <div
          [hidden]="address.valid || address.pristine"
          class="alert alert-danger"
        >
          Address is required
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          required
          ngModel
          name="phone"
          #phone="ngModel"
        />
        <div
          [hidden]="phone.valid || phone.pristine"
          class="alert alert-danger"
        >
          Phone is required
        </div>
      </div>

      <div class="form-group">
        <label for="position">Position</label>
        <select
          class="form-control"
          id="position"
          required
          [(ngModel)]="positions[0]"
          name="position"
          #position="ngModel"
        >
          <option *ngFor="let pos of positions" [value]="pos">{{ pos }}</option>
        </select>
        <div
          [hidden]="position.valid || position.pristine"
          class="alert alert-danger"
        >
          Position is required
        </div>
      </div>
      <button type="submit" class="btn" [disabled]="!employeeForm.form.valid">
        Save
      </button>
    </form>
  </div>
</div>
